langchain
langchain-core
langchain-community
langchain-openai
langchain-ollama
langchain-groq
langchain-text-splitters
python-dotenv
streamlit
faiss-cpu
pypdf
chromadb
langchain_huggingface
langchain_chroma
sentence-transformers
arxiv
wikipedia
ddgs
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr